/* Custom Styles */

/* Body */

body {
    color: #000;
    font: 300 16px/22px "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Links */

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* Primary Header */

.logo {
    padding: 0 0 11px 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}
.tagline {
    text-align: center;
}
.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/* Primary Footer */

.primary-footer {
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
footer small {
    font-weight: 400;
    display: block;
    margin: 0 auto;
}

/* Navigation */

.nav {
    text-align: center;
}
.nav li {
    display: block;
    margin: 0 10px;
}

/* Hero */

.hero {
    line-height: 24px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

/* For overflowing text */

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

/* Mobile first queries */

/* Larger than phablet */
@media (min-width: 550px) {
    .logo {
        font-size: 48px;
        letter-spacing: .5px;
        line-height: 44px;
        text-align: left;
        padding: 0 0 22px 0;
        float: left;
    }
    .tagline {
        margin: 66px 0 22px 0;
        text-align: right;
    }
    .nav {
        text-align: right;
    }
    .nav li {
        display: inline-block;
        vertical-align: top;
    }
    .nav li:last-child {
        margin-right: 0;
    }
    footer small {
        float: left;
        text-align: left;
    }
}