/* Custom Styles */

/* Body */

body {
    color: #000;
    font: 300 16px/22px "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Links */

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* Primary Header */

.logo {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 0 0 22px 0;
    text-transform: uppercase;
}
.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}
.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/* Primary Footer */

.primary-footer {
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
.primary-footer small {
    font-weight: 400;
}

/* Navigation */

.nav {
    text-align: right;
}
.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.nav li:last-child {
    margin-right: 0;
}

/* Hero */

.hero {
    line-height: 24px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}